# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Logs and results
logs/
results/

# Model weights (if downloaded locally)
models/

